<html>

  <head>
    <title>Page potin</title>
  </head>

  <body>
    <h1>Voici la page du potin numéro <%= Gossip.params[id]%> </h1>
    <p>Son auteur : <%= gossip.author %></p>
    <p>Le contenu du potin croustillant : <%= gossip.content %></p>

    
    <a href="/">Lien pour revenir à la page des potins</a>
  </body>

</html>